{% extends 'base.html' %}

{% load static %}
{% load my_filter %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'horoscope/css/zodiac_elements.css' %}">
{% endblock %}

{% block title %}
    {{ element_type|upper }}
{% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    {% if zodiac_signs is None %}
        <h2>Такого типа элемента {{ element_type|upper }} не существует!</h2>
    {% else %}
        <ul>
            {% for sign, description in zodiac_signs.items %}
            <li><a href="{% url 'zodiac_sign' sign %}">{{ description|split }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}