{% extends 'base.html' %}

{% load static %}

{% block css_add %}
    <link rel="stylesheet" href="{% static 'horoscope/css/zodiac_elements.css' %}">
{% endblock %}

{% block title %}
    {{ element_type|upper }}
{% endblock %}

{% block content %}
    {% include 'includes/navbar.html' %}
    {% if zodiac_signs is None %}
        <h2>Такого типа элемента {{ element_type|upper }} не существует!</h2>
    {% else %}
        <div>
            <ul>
                {% for sign in zodiac_signs %}
                <li><a href="{% url 'zodiac_sign' sign %}">{{ sign|capfirst }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endblock %}